In [2]:
import os
import numpy as np 
import pandas as pd
path = "D:/Github/Predict_the_time_of_arrival_for_the_delivery_persons/dataset/data"

In [3]:
# Tạo 1 dataframe 
def create_df():
    arr = []
    df = pd.DataFrame(arr, columns=['ID', 'Delivery_person_ID', 'Delivery_person_Age','Delivery_person_Ratings','Restaurant_latitude','Restaurant_longitude'
    ,'Delivery_location_latitude','Delivery_location_longitude','Order_Date','Time_Orderd','Time_Order_picked','Weather_conditions','Road_traffic_density'
    ,'Vehicle_condition','Type_of_order','Type_of_vehicle','multiple_deliveries','Festival','City','Time_taken_(min)'])
    return df

In [4]:
# Đọc file
def read_text_file(file_path):
    with open(file_path, 'r') as f:
        return f.readlines()

os.chdir(path)

# Lưu tất cả file txt vào list_a 
def save_text_file():
    list_information_all = []
    for file in os.listdir():
        if file.endswith(".txt"):
            file_path = f"{path}\{file}"
            list_information_all.append(read_text_file(file_path))
    return list_information_all

In [5]:
# Hàm trả về mảng chứa thông tin của 1 tệp txt 
def information(text_information):
    list_information = []
    for i in range(20):
        text = text_information[i][27:]
        text = text.replace(' ', '')
        text = text.replace('\n', '')
        list_information.append(text)
    return list_information

In [6]:
def create_data(list_information_all):
    df = create_df()
    for i in range(len(list_information_all)):
        df.loc[i] = information(list_information_all[i])

In [7]:
# create_data(save_text_file())
# df.to_csv("D:/Github/Predict_the_time_of_arrival_for_the_delivery_persons/dataset/data_new/dataset_new.csv")

In [8]:
# Đọc file csv 

df = pd.read_csv("D:/Github/Predict_the_time_of_arrival_for_the_delivery_persons/dataset/data_new/dataset_new.csv")

In [9]:
del df['Unnamed: 0']

In [10]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_(min)
0,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.0,No,Metropolitian,33.0
1,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,8:45,Sandstorms,Low,0,Drinks,motorcycle,1.0,No,Urban,26.0
2,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,18:10,Sunny,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,21.0
3,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,13:45,Cloudy,High,1,Snack,scooter,1.0,No,Metropolitian,30.0
4,0x9bb4,HYDRES09DEL03,22.0,4.8,17.431668,78.408321,17.461668,78.438321,11-03-2022,21:20,21:30,Cloudy,Jam,0,Buffet,motorcycle,1.0,No,Urban,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45587,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32.0
45588,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36.0
45589,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16.0
45590,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26.0
45591,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45592 entries, 0 to 45591
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45592 non-null  object
 1   Delivery_person_ID           45592 non-null  object
 2   Delivery_person_Age          43738 non-null  float64
 3   Delivery_person_Ratings      43684 non-null  float64
 4   Restaurant_latitude          45592 non-null  float64
 5   Restaurant_longitude         45592 non-null  float64
 6   Delivery_location_latitude   45592 non-null  float64
 7   Delivery_location_longitude  45592 non-null  float64
 8   Order_Date                   45592 non-null  object
 9   Time_Orderd                  43861 non-null  object
 10  Time_Order_picked            45592 non-null  object
 11  Weather_conditions           44976 non-null  object
 12  Road_traffic_density         44991 non-null  object
 13  Vehicle_condition            45592 non-null  int64
 14  Type_of_order                45592 non-null  object
 15  Type_of_vehicle              45592 non-null  object
 16  multiple_deliveries          44599 non-null  float64
 17  Festival                     45364 non-null  object
 18  City                         44392 non-null  object
 19  Time_taken_(min)             45592 non-null  float64
dtypes: float64(8), int64(1), object(11)
memory usage: 7.0+ MB

In [52]:
df[:10]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_(min)
0,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.0,No,Metropolitian,33.0
1,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,8:45,Sandstorms,Low,0,Drinks,motorcycle,1.0,No,Urban,26.0
2,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,18:10,Sunny,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,21.0
3,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,13:45,Cloudy,High,1,Snack,scooter,1.0,No,Metropolitian,30.0
4,0x9bb4,HYDRES09DEL03,22.0,4.8,17.431668,78.408321,17.461668,78.438321,11-03-2022,21:20,21:30,Cloudy,Jam,0,Buffet,motorcycle,1.0,No,Urban,26.0
5,0x95b4,RANCHIRES15DEL01,33.0,4.7,23.369746,85.339820,23.479746,85.449820,04-03-2022,19:15,19:30,Fog,Jam,1,Meal,scooter,1.0,No,Metropolitian,40.0
6,0x9eb2,MYSRES15DEL02,35.0,4.6,12.352058,76.606650,12.482058,76.736650,14-03-2022,17:25,17:30,Cloudy,Medium,2,Meal,motorcycle,1.0,No,Metropolitian,32.0
7,0x1102,HYDRES05DEL02,22.0,4.8,17.433809,78.386744,17.563809,78.516744,20-03-2022,20:55,21:05,Stormy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,34.0
8,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46.0
9,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23.0

In [51]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken_(min)                  0
dtype: int64

In [11]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken_(min)
count,43738.000000,43684.000000,45592.000000,45592.000000,45592.000000,45592.000000,45592.000000,44599.000000,45592.000000
mean,29.566967,4.633774,17.017603,70.231208,17.465070,70.845591,1.023337,0.744680,26.294657
std,5.815113,0.334718,8.185155,22.883883,7.335160,21.119030,0.839062,0.572469,9.383903
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,0.000000,0.000000,10.000000
25%,25.000000,4.500000,12.933284,73.170000,12.988453,73.280000,0.000000,0.000000,19.000000
50%,30.000000,4.700000,18.546947,75.898497,18.633934,76.002574,1.000000,1.000000,26.000000
75%,35.000000,4.900000,22.728163,78.044095,22.785049,78.107044,2.000000,1.000000,32.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,3.000000,3.000000,54.000000

In [47]:
# list_set_ID = set(df['ID'])
# list_set_Delivery_person_ID = set(df['Delivery_person_ID']) 
# list_set_Delivery_person_Age = set(df['Delivery_person_Age'])
# list_set_Delivery_person_Ratings = set(df['Delivery_person_Ratings'])
# list_set_Restaurant_latitude = set(df['Restaurant_latitude'])
# list_set_Restaurant_longitude = set(df['Restaurant_longitude']) 
# list_set_Delivery_location_latitude = set(df['Delivery_location_latitude'])
# list_set_Delivery_location_longitude = set(df['Delivery_location_longitude'])
# list_set_Order_Date = set(df['Order_Date']) 
# list_set_Time_Orderd = set(df['Time_Orderd'])
# list_set_Time_Order_picked = set(df['Time_Order_picked'])
# list_set_Weather_conditions = set(df['Weather_conditions']) 
# list_set_Road_traffic_density = set(df['Road_traffic_density'])
# list_set_Vehicle_condition = set(df['Vehicle_condition'])
# list_set_Type_of_order = set(df['Type_of_order'])
# list_set_Type_of_vehicle = set(df['Type_of_vehicle'])
# list_set_multiple_deliveries = set(df['multiple_deliveries']) 
# list_set_Festival = set(df['Festival'])
# list_set_City = set(df['City'])
# list_set_Time_taken = set(df['Time_taken_(min)'])